* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

:root {
    --normal-color: #a6a877; 
    --grass-color: #77c850;
    --fire-color: #ee7f30;    
    --water-color: #678fee;    
    --electric-color: #f7cf2e;    
    --ice-color: #98d5d7;    
    --ground-color: #dfbf69;    
    --glying-color: #a98ff0;    
    --poison-color: #a040a0;    
    --fighting-color: #bf3029;    
    --psychic-color: #f65687;    
    --dark-color: #725847;    
    --rock-color: #b8a137;    
    --bug-color: #a8b720;    
    --ghost-color: #6e5896;    
    --steel-color: #b9b7cf;    
    --dragon-color: #6f38f6;    
    --fairy-color: #f9aec7;    
    --flying-color: #92aeb8;
}

.content {
    height: 100vh;
    width: 100vw;
    padding: 1rem;    
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}