:root {
    --body-backgroundcolor: #1b1b1b;
    --primary-color: #fff;
}

body {
    background-color: var(--body-backgroundcolor);
}

.content {
    background-color: transparent;    
}

.pokemon {
    height: 60%;
}

#pokemonDetail {
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

#image-container {
    position: relative;
    height: 20rem;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-container::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, var(--primary-color) 0%, var(--body-backgroundcolor) 70%);
    z-index: -1;
}

.pokemon .image {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;  
    filter: brightness(1.1);  
}

#title {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    text-transform: capitalize;
    filter: drop-shadow(2px 2px 3px #000);
}

#number {
    font-size: 1rem;
    text-align: center;
    color: #ebebeb;
    margin-top: -1.3rem;
}

#types {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;    
}

.type {     
    padding: .25rem .5rem;
    margin: .2rem;
    font-size: 1rem;
    border-radius: 1rem;
    text-align: center;
    text-transform: capitalize;    
    background-color: transparent;
    filter: brightness(1.5);
}

.medidas {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #474747;
    border-radius: 1rem;
    width: 20rem;
    height: 6rem;
}

.medidasItem {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.medidasImageValue {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

#divider {
    width: 3px;
    height: 4rem;
    background-color: white;
    border: none;
}

.medidasImage {
    width: 2.3rem;
    margin-right: 10px;
}

.medidasValue {
    font-size: 1.5rem;
    margin-left: -0.2rem;
    text-wrap: nowrap;
}

.medidasTitle {
    text-align: center;
    margin-top: -0.5rem;
    font-size: 0.8rem;
    color: white;
}

#pokemonStats {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#pokemonStats li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    height: 1.5rem;
}

.statName {
    text-transform: uppercase;
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
    text-overflow: ellipsis;    
    width: 50%;
    margin-right: 2%;
    color: white;
}

.statBar {
    background-color: #474747;
    border-radius: 3px;
    overflow: hidden;
    width: 40%;
    margin-right: 10%;
    height: 90%;
}

.statBarInner {
    height: 1rem;
    text-align: right;
    padding-right: 0.2rem;
    box-sizing: border-box;
    color: white;
    font-size: 0.9rem;
    height: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    background-color: var(--primary-color);
}