body {
    background-color: #1b1b1b;
}

.content {
    background-color: #292929;
}

.pokemon {
    height: 60%;
    /* background-color: gray; */
}

.pokemon .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    height: 70%;
}

.pokemon .title {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    text-transform: capitalize;
    margin-top: 2rem;
}

.pokemon .number {
    font-size: 1rem;
    text-align: center;
    color: #ebebeb;
    margin-top: -1.3rem;
}

.pokemon .detail {
}

.pokemon .detail .types {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    padding: 0;
    width: 10%;    
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
}

.medidas {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;    
    margin-right: auto;
    width: 50%;
}

.medidasImageValue {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.divider {
    /* border-top: 3px solid white; */
    width: 2px;
    height: 50px;
    background-color: white;
    border: none;
}

.medidasImage {
    height: 25%;
    width: 25%;
    margin-right: 10px;
}

.medidasValue {
    margin-right: 10px;
    font-size: 1.5rem;
}

.medidasTitle {
    text-align: center;
    margin-top: -0.5rem;
    font-size: 1.0rem;
    color: white;
}

#pokemonStats {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#pokemonStats li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    height: 1.5rem;
}

.statName {
    text-transform: uppercase;
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
    text-overflow: ellipsis;    
    width: 50%;
    margin-right: 2%;
    color: white;
}

.statBar {
    background-color: #474747;
    border-radius: 3px;
    overflow: hidden;
    width: 40%;
    margin-right: 10%;
    height: 90%;
}

.statBarInner {
    height: 1rem;
    text-align: right;
    padding-right: 0.2rem;
    box-sizing: border-box;
    color: white;
    font-size: 0.9rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}